<nav-bar></nav-bar>
<div id="main">
  <div id="container">
    <div id="div-calculadora" class="innerContainer">
      <h1 class="ro-title">Calculator <span [innerHTML]="symbols[0]"></span></h1>
      <form>
        <div id="fields">
          <div id="field1" class="form-outline">
            <input [(ngModel)]="operation.primer_valor" [ngModelOptions]="{standalone: true}" type="number" id="number1" class="form-control" placeholder="First Number"/>
          </div>
          <div id="field2" class="form-outline">
            <input [(ngModel)]="operation.segundo_valor" [ngModelOptions]="{standalone: true}" type="number" id="number2" class="form-control" placeholder="Second Number"/>
          </div>
        </div>
        <div id="radioGroup">
          <div class="form-check">
            <input [(ngModel)]="operation.operacion" [value]="'Sum'" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Sum
            </label>
          </div>
          <div class="form-check">
            <input [(ngModel)]="operation.operacion" [value]="'Subtract'" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Subtract
            </label>
          </div>
          <div class="form-check">
            <input [(ngModel)]="operation.operacion" [value]="'Multiply'" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
            <label class="form-check-label" for="exampleRadios3">
              Multiply
            </label>
          </div>
          <div class="form-check">
            <input [(ngModel)]="operation.operacion" [value]="'Divide'" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option3">
            <label class="form-check-label" for="exampleRadios3">
              Divide
            </label>
          </div>
        </div>
        <button id="calculate" class="btn btn-primary" (click)="saveNewOperation()">Calculate</button>
        <div id="result">
          <h5 id="result-value">= {{result}}</h5>
        </div>
      </form>
    </div>
    <div class="innerContainer">
      <h1 class="ro-title">Recent Operations <span [innerHTML]="symbols[1]"></span></h1>
      <table id="table" class="table" *ngIf="operationList.length">
        <thead>
          <th><h4 id="th1" class="t-head">First Number</h4></th>
          <th><h4 id="th2" class="t-head">Second Number</h4></th>
          <th><h4 id="th3" class="t-head">Operation</h4></th>
          <th><h4 id="th4" class="t-head">Result</h4></th>
        </thead>
        <tbody>
        <tr *ngFor="let operation of operationList">
          <td>{{operation.primer_valor}}</td>
          <td>{{operation.segundo_valor}}</td>
          <td>{{operation.operacion}}</td>
          <td>{{operation.resultado}}</td>
          <td><button id="delete-btn" class="btn btn-danger" (click)="deleteOperation(operation.id)">Delete</button></td>
        </tr>
        <td></td>
        </tbody>
      </table>
    </div>
  </div>
</div>
<footer></footer>

