<nav-bar></nav-bar>
<div id="main">
  <div id="Mycarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#Mycarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#Mycarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#Mycarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">

      <div id="carousel-item-1" class="carousel-item active">
        <div class="item-content">
          <div class="carousel-image" id="cimage-1"
               style="background-image: url(assets/imagenes/1.jpg);"></div>
          <div class="text-container">
            <h1>Los mejores tips</h1>
            <p>
              Nunca había sido tan seguro navegar por Internet.<br>
              Saca el máximo partido con nuestros tips...
            </p>
            <a href="#thirdcont" class="btn btn-primary">Saber más</a>
          </div>
        </div>
      </div>

      <div id="carousel-item-2" class="carousel-item">
        <div class="item-content">
          <div class="carousel-image" id="cimage-2"
               style="background-image: url(assets/imagenes/2.jpg);"></div>
          <div class="text-container">
            <h1>Nuestros productos</h1>
            <p>
              Disponemos de los mejores productos en el<br>
              mercado de la informática...

            </p>
            <a href="#fourthcont" class="btn btn-primary">Saber más</a>
          </div>
        </div>
      </div>

      <div id="carousel-item-3" class="carousel-item">
        <div class="item-content">
          <div class="carousel-image" id="cimage-3"
               style="background-image: url(assets/imagenes/3.jpg);"></div>
          <div class="text-container">
            <h1>Sobre nosotros</h1>
            <p>
              Descubre quiénes somos y cómo nos ganamos<br>
              la confianza de todos...

            </p>
            <a href="about.html" class="btn btn-primary">Saber más</a>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#Mycarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#Mycarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--Carousel End-->

  <div id="firstcont">
    <div id="firstcont-1">
      <div id="fctext" class="innertextdiv">
        <h1>Prepárate para el Futuro <span [innerHTML]="symbol"></span></h1><br>
        <p>
          Tech World Updates es tu espacio tecnológico. Compartimos todo nuestro
          conocimiento edificado con más diez años de experiencia y además te ponemos
          al día con lo más reciente del mundo de la tecnología. Nuestro contenido
          va dedicado a todo público, bien sea estudiantes, profesionales o aficionados.
          <br>
          <br>
          Aquí encontrarás desde muy buenos tips de seguridad en internet hasta los productos
          más relevantes hasta la fecha...
        </p>
      </div>
      <div id="sticky-1" class="sticky">
        <img class="sticky-item" src="assets/icons/sticky.svg">
        <div>>>></div>
        <p class="sticky-item">
          Hola soy Sticky! Te doy la bienvenida a mi
          sitio...brr..brr... Regístrate arriba para poder ofrecerte la mejor
          experiencia...
        </p>
      </div>
    </div>
    <div id="firstcont-2">
      <img class="img-fluid" src="assets/imagenes/undrawserver.svg">
    </div>
  </div>
</div>

<footer></footer>
