<nav-bar></nav-bar>
<div id="main">
  <div id="secondcont">
    <div id="secondcont-1">
      <div id="text-vid-container">
        <div id="sctext" class="innertextdiv">
          <h2>Nuestros Servicios <span [innerHTML]="symbols[0]"></span></h2>
          <br>
          <blockquote>
            Ofrecemos toda una gama completa de servicios para ayudar a las organizaciones
            a trabajar mejor. Nos encargamos de todo desde lo mejor en el sector tecnológico
            hasta la formación de su personal del modo más eficaz, evaluando su actividad y
            ayudándole a obtener un desempeño aún mejor en el futuro. Muy pocos ofrecen esto,
            y ninguno lleva haciéndolo tanto tiempo como nosotros.
            <br>
            <br>
            Podemos combinar cualquiera de nuestros productos y servicios para crear un pack a
            medida para su empresa. Esto elimina la complejidad y los costes innecesarios que
            implican llevarle a donde quiere ir, sea cual sea su punto de partida.
          </blockquote>
        </div>
        <div id="titulo-video">
          <h3><span [innerHTML]="symbols[1]"></span> ¿Qué es el Cloud Computing? <span [innerHTML]="symbols[2]"></span></h3>
        </div>
        <div id="div-video">
          <iframe width="100%" height="100%"
                  src="https://www.youtube.com/embed/M988_fsOSWo" frameborder="0" allowfullscreen>
          </iframe>
        </div>
        <div id="sticky-2" class="sticky">
          <img class="sticky-item" src="assets/icons/sticky.svg" alt="no bot">
          <div>>>></div>
          <p class="sticky-item">
            ¿Quieres estar al tanto de todo?... No te pierdas ninguna actualización
            de contenido...brr...brr... ¡SUBSCRÍBETE A NUESTRA NEWSLETTER! <span [innerHTML]="symbols[3]"></span>
          </p>
        </div>
        <div id="div-newsletter">
          <form id="formulario-1">
            <label id="label"><h4>Dirección de Correo: <span [innerHTML]="symbols[4]"></span></h4></label> <br>
            <input id="campo-1" type="email" name="correo" placeholder="alguien@email.com"> <br>
            <input class="btn" id="submit" type="submit" onclick="alert('Funcionalidad no disponible')" name="submit" value="Subscribirme">
          </form>
        </div>
      </div>

      <!--Cards-->
      <div id="divcards">
        <div id="cards-row-1">
          <div id="card-1" class="card">
            <img class="card-img-top img-fluid" src="assets/imagenes/card-1.png" alt="Imagen no disponible">
            <div class="card-body">
              <h5 class="card-title">Cloud Computing</h5>
              <p class="card-text">
                Tenemos el cloud público más abierto y seguro para empresas, una
                plataforma multicloud híbrida de nueva generación y funcionalidades
                avanzadas de datos.
              </p>
              <a class="btn btn-primary cardbotones">Saber más</a>
            </div>
          </div>
          <div id="card-2" class="card">
            <img class="card-img-top img-fluid" src="assets/imagenes/card-2.png" alt="Imagen no disponible">
            <div class="card-body">
              <h5 class="card-title">Seguridad Informática</h5>
              <p class="card-text">
                Trabajamos para mejorar la resilencia de tu negocio contra las ciberamenazas
                mientras el ecosistema y la cadena de suministro de tu compañía se amplían.
              </p>
              <a class="btn btn-primary cardbotones">Saber más</a>
            </div>
          </div>
        </div>
        <div id="cards-row-2">
          <div id="card-3" class="card">
            <img class="card-img-top img-fluid" src="assets/imagenes/card-3.png" alt="Imagen no disponible">
            <div class="card-body">
              <h5 class="card-title">Clases Online </h5>
              <p class="card-text">
                Ofrecemos formación personalizada para el personal de tu empresa mediante
                las mejores metodologías para afianzar los conocimientos de la mejor forma posible.
                Nos basamos en las tecnologías más top.

              </p>
              <a class="btn btn-primary cardbotones">Saber más</a>
            </div>
          </div>
          <div id="card-4" class="card">
            <img class="card-img-top img-fluid" src="assets/imagenes/card-4.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Soporte Técnico</h5>
              <p class="card-text">
                Nuestros técnicos informáticos darán solución a cualquier problema informático
                de sus equipos de forma rápida, para que tenga siempre sus equipos actualizados y
                en un entorno seguro.
              </p>
              <a class="btn btn-primary cardbotones">Saber más</a>
            </div>
          </div>
        </div>
      </div>
      <!--Cards End-->
    </div>
  </div>
</div>

<footer></footer>
