<div id="footer">
  <div id="footer-logo">
    <img src="../../../assets/imagenes/logo4.svg">
  </div>
  <div id="footer-div1" class="footer-div">
    <div id="main-footer">
      <div id="section-1" class="footer-section">
        <div id="indicator-1" class="footer-indicator"></div>
        <div id="content-1" class="footer-content">
          <h5>Ayuda</h5>
          <ul id="ayuda-list" class="footer-list">
            <li><a href="" class="ayuda-links">Sobre Nosotros</a></li>
            <li><a href="" class="ayuda-links">Preguntas Frecuentes</a></li>
            <li><a href="" class="ayuda-links">Centro de Soporte</a></li>
            <li><a href="" class="ayuda-links">Aviso Legal</a></li>
            <li><a href="" class="ayuda-links">Privacidad</a></li>
          </ul>
        </div>
      </div>
      <div id="section-2" class="footer-section">
        <div id="indicator-2" class="footer-indicator">
        </div>
        <div id="content-2" class="footer-content">
          <h5>¿Por qué comprar?</h5>
          <ul id="why-list" class="footer-list">
            <li><a href="" class="why-links">Formas de Pago</a></li>
            <li><a href="" class="why-links">Opiniones de Clientes</a></li>
            <li><a href="" class="why-links">Descuentos</a></li>
            <li><a href="" class="why-links">Gastos de Envío</a></li>
          </ul>
        </div>
      </div>
      <div id="section-3" class="footer-section">
        <div id="indicator-3" class="footer-indicator">

        </div>
        <div id="content-3" class="footer-content">
          <h5>Contactar</h5>
          <ul id="cantactar-list" class="footer-list">
            <li><a href="" class="contactar-links">Devoluciones y Garantías</a></li>
            <li><a href="" class="contactar-links">Trabaja con Nosotros</a></li>
            <li><a href="" class="contactar-links">Contacto</a></li>
            <li><a href="" class="contactar-links">Política de Cookies</a></li>
          </ul>
        </div>
      </div>
      <div id="section-4" class="footer-section">
        <div id="indicator-4" class="footer-indicator">

        </div>
        <div id="content-4" class="footer-content">
          <h5>Otros</h5>
          <ul id="otros-list" class="footer-list">
            <li><a href="" class="otros-links">Marketplace</a></li>
            <li><a href="" class="otros-links">Cita Asistencia Técnica</a></li>
            <li><a href="" class="otros-links">Reparaciones</a></li>
            <li><a href="" class="otros-links">Responsabilidad Social</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="pais-button-div" class="dropdown">
      <a id="pais-button" class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        País
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">España</a></li>
        <li><a class="dropdown-item" href="#">Estados Unidos</a></li>
        <li><a class="dropdown-item" href="#">Alemania</a></li>
      </ul>
    </div>
  </div>
  <div id="footer-div2" class="footer-div">
    <div id="social-newsletter-div">
      <div id="footer-newsletter">
        <div id="footer-newsletter-text">
          <p>
            Subscríbete a nuestra newsletter o
            <a href="pages/acceso.html">regístrate</a>
            para mejorar tu experiencia
          </p>
        </div>
        <form id="formulario-2">
          <input id="campo-2" type="email" name="correo-2" placeholder="alguien@email.com">
          <input class="btn" id="submit-2" type="submit" onclick="alert('Funcionalidad no disponible')" name="submit-2" value="Subscribirme">
        </form>
      </div>

      <div id="footer-social">
        <div id="social-text">Síguenos</div>
        <div id="social-icons">
          <a id="facebook" href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a>
          <a id="twitter" href="https://www.twitter.com/"><i class="bi bi-twitter"></i></a>
          <a id="youtube" href="https://www.youtube.com/"><i class="bi bi-youtube"></i></a>
          <a id="instagram" href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
          <a id="linkedin" href="https://www.linkedin.com/"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div id="footer-div3" class="footer-div">
    <div id="copyright-menu-div">
      <div id="footer-copyright">
        <h6>&copy; 2022 Luis Barcelo. All rights reserved.</h6>
      </div>
      <div id="footer-menu">
        <a href="../../../index.html">Inicio</a>
        <a href="#secondcont">Destacado</a>
        <a href="#thirdcont">Top Tips</a>
        <a href="#fourthcont">Productos</a>
        <a href="pages/acceso.html">Contáctanos</a>
        <a href="pages/about.html">Sobre Nosotros</a>
        <a id="parajuanan" href="pages/parajuanan.html">Para Juanan</a>
        <a id="presentacion" href="#">Presentación</a>
      </div>
    </div>
  </div>
</div>

