<nav-bar></nav-bar>
<div id="main">
  <div id="container">
    <div id="innerContainer">
      <h1>Sobre nosotros <span [innerHTML]="symbol"></span></h1>
      <div id="input">
        <table id="table" class="table" *ngIf="dataList.length">
          <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
            <th scope="col">User ID</th>
            <th scope="col">ID</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of dataList">
            <td>{{data.title}}</td>
            <td>{{data.body}}</td>
            <td>{{data.id}}</td>
            <td>{{data.userId}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<footer></footer>

