<nav id="menuCont" class="navbar navbar-expand-lg bg-light">
  <div id="menu" class="container-fluid">
    <a id="logo" class="navbar-brand" routerLink="/home"><img src="../../../assets/icons/favicon.svg">Tech World Updates</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul id="menuList" class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/home">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/featured">Destacado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tips">Tips</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">Sobre Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/recent-operations">Operaciones Recientes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
